@import url('./modules/reset.css');
@import url('./modules/loader.css');
@import url('./modules/modal.css');

@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}
 
@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf) format("truetype");
  font-weight: 400;
}
 
@font-face {
  font-family: segoeui;
  src: url(../fonts/Segoe UI Semibold.ttf) format("truetype");
  font-weight: 500;
}
 
@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeuib.ttf) format("truetype");
  font-weight: 700;
}

button, textarea {
  font-family: segoeui, sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}

body {
  font-family: segoeui, sans-serif;
  background: #8ee6ff;
  overflow-x: hidden;
}

.ms-btn {
  background: #b9d532;
  color: #fff;
  font-size: 17px;
  padding: 15px 53px 13px;
  border: 0;
  font-weight: 700;
  line-height: 18px;
}

.page-conent {
  width: 890px;
  margin: auto;
  padding: 28px 0;
}

.main-page {
  max-width: 1390px;
  background: #ffffff;
  box-shadow: 0 7px 13px 0 rgba(0, 93, 137, 0.16), 0 7px 3px 0 rgba(0, 93, 137, 0.33);
  margin: auto;
  position: relative;
  min-height: 100vh;
/*  overflow-y: hidden;*/
}

.main-page::after {
  content: '';
  position: absolute;
  top: 99px;
  right: -320px;
  background: url(../img/bg-item-1.png);
  width: 516px;
  height: 1181px;
  z-index: -1;
  max-height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -99px;
}

.main-page::before {
  content: '';
  position: absolute;
  top: 203px;
  left: -320px;
  background: url(../img/bg-item-3.png);
  width: 565px;
  height: 1077px;
  max-height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  margin-bottom: -203px;
}

.ms-logo {
  position: absolute;
  top: 29px;
  left: 45px;
}

.web__title {
  font-size: 26px;
  color: #045686;
  text-align: center;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 22px;
}

.web__subtitle {
  color: #045686;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.web__container {
  height: 506px;
  background: #bdbdbd;
  display: flex;
  align-items: center;
  justify-content: center;
/*
  margin-top: 41px;
  margin-bottom: 40px;
*/
}

.web__textarea,
.ans-comment-textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #616161;
  border: 1px solid #989898;
  margin-bottom: 9px;
  margin-top: 15px;
}

.comments-container {
  margin-top: 38px;
}

.comment:nth-child(even) {
  background: #e9f9ff;
}

.comment:nth-child(odd) {
  background: #fafafa;
}

.comment {
  padding: 13px 24px 23px 109px;
  margin-bottom: 5px;
  position: relative;
  text-align: right;
}

.comment__img {
  position: absolute;
  top: 13px;
  left: 17px;
}

.comment__title {
  font-size: 18px;
  color: #a8a8a8;
  line-height: 30px;
  margin-bottom: 14px;
  text-align: left;
}

.comment__text {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 17px;
  text-align: left;
}

.comment__delete,
.comment-answer__delete {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #757575;
}

.ans-comment {
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 35px 10px;
  line-height: 1;
}

.next-btn {
  display: block;
  margin: 30px auto;
}

.comment-answer {
  padding: 20px;
  margin-top: 20px;
  background: rgba(255,255,255,.7);
}

.comment-answer__btn {
  font-size: 14px;
  padding: 7px 25px;
}

.comment-answer-text {
  margin-top: 20px;
  background: rgba(255,255,255,.7);
  padding: 14px 20px 20px 92px;
  position: relative;
}

.ans-comment__text {
  text-align: left;
}

.comment-answer__img {
  width: 60px;
}

.refresh-comment {
  margin-left: 20px;
}

.no-auth__btn {
  margin-left: 25px;
  background: transparent;
  color: #757575;
  text-decoration: underline;
  padding: 15px 0 13px;
}