@font-face {
  font-family: Rotonda;
  src: url(../../fonts/RotondaC-Bold.otf);
  font-weight: 700;
}

.header {
  margin-bottom: 30px;
}

.main-logo {
  cursor: pointer;
  height: 43px;
}

.menu {
  margin: 12px 0 0 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  height: 36px;
}

.menu__item {
  display: inline-block;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 1px solid #b0b0b0;
  margin-right: 40px;
}

.menu__item--active {
  color: #da0000;
  border-color: transparent;
}

.menu__link {
  color: inherit;
  text-decoration: none;
}

.hoff-btn {
  font-family: Rotonda;
  float: right;
  color: #ffffff;
  background: #919aa1;
  font-size: 20px;
  border-radius: 6px;
  padding: 15px 22px 13px;
  text-decoration: none;
  text-align: center;
  border: 0;
  cursor: pointer;
  outline: none;
}

.dn-logo-container {
  margin: 10px auto 0 auto;
  display: block;
  width: 145px;
}

@media (max-width: 550px) {
  .hoff-local {
    display: block;
    float: none;
    margin: 20px 0;
  }
}

@media (max-width: 640px) {
  .menu {
    height: auto;
  }

  .menu__item {
    display: block;
    font-size: 24px;
    text-align: center;
    width: 300px;
    margin: 10px auto 15px;
  }
}
/*
@media (max-width: 1140px)) {
  .menu {
    margin: 20px 0 0 0;
    display: block;
  }
}*/

@media (max-width: 1140px) {
  .menu {
    display: block;
    margin: 30px 0 0 0;
  }
}
