.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 999999;
}

.loader__img {
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  position: fixed;
}
