/*.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 999;
}*/

.modal {
  position: fixed;
  width: 815px;
  background: #fefefd;
  background-image: linear-gradient(to top, #e4e4e4 0%, #ffffff 100%);
/*  border-radius: 20px;*/
/*  box-shadow: 0 -5px 76px 0 #2a3c1a,*/
/*    0  -5px 0 0 #f36f7a;*/
/*  border: 5px solid #e52c33;*/
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -400px;
  max-height: 100%;
  border-radius: 7px;
  max-width: 100%;
}

.modal-content {
  max-width: 620px;
  margin: auto;
  text-align: center;
  padding: 35px 0;
  color: #181818;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -47px;
  cursor: pointer;
}

.auth__text {
  font-size: 25px;
  margin-bottom: 25px;
  color: #045686;
}
